<%- include('../partials/header.ejs') %>

    <form action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <label for="text">Comment:</label>
        <input placeholder="" type="text" id="text" name="text" value="<%= comment.text %>" required>
        <button type="submit">Update</button>
    </form>

    <%- include('../partials/footer.ejs') %>