<%- include('../partials/header.ejs') %>

<h1>Edit Comment</h1>

<a href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit"></a>
<form action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<% food.veganName %>" required>
    <button type="submit">Save</button>
</form>
    
    
    <a href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit"></a>
<form action="/foods/<%= food.id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<% food.veganName %>" required>
    <button type="submit">Update</button>
</form>


<%- include('../partials/footer.ejs') %>