<%- include('../partials/header.ejs') %>
    
    <% if (foods.length === 0) { %>
        <p>No favorite foods</p>
    <% } else { %>
        <ul>
            <% foods.forEach(item=> { %>
                <li>
                    <%= item.name %>
                    <a href="/foods/<%= item._id %>/edit">Edit</a>
                    <form action="/foods/<%= item._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <a href="/foods/new">Add to Favorites</a>
    <%- include('../partials/footer.ejs') %>