
<%- include('../partials/header.ejs') %>

    <h1><%= food.veganName %></h1>
    <p>Vegan Alternative For <%= food.alternativeFor %></p>
    <img src="<%= food.foodImage %>" alt="">
    
<%- include('../partials/footer.ejs')%>




