<%- include('../partials/header.ejs') %>

<h1><%= food.veganName %></h1>
<p>Vegan Alternative For <%= food.alternativeFor %></p>
<img src="<%= food.foodImage %>" alt="">


<form action="/foods/<%= food._id %>/comments" method="POST">
    <input placeholder="Leave a Comment" name="text">
    <button type="submit">Comment</button>
</form>
<% if (food.comments.length === 0) { %>
    <p>No Comment</p>
<% } else { %>
    <ul>
        <% food.comments.forEach(comment=> { %>
            <li>
                <%= comment.text %>
                <a href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit">Edit</a>
                <form action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } %>
<%- include('../partials/footer.ejs')%>

    




