<%- include('../partials/header.ejs') %>

<div id="background">

<p class="vegan-alt">Vegan Alternative For <%= food.alternativeFor %></p>
<img src="<%= food.foodImage %>" alt="vegan-food" id="food-img">


<form action="/foods/<%= food._id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <textarea id="comment" placeholder="Leave a Comment" name="text"></textarea>
    <button type="submit">Add Comment</button>
</form>

<% if (food.comments.length === 0) { %>
    <p>No Comments</p>
<% } else { %>
    <section class="comments">
        <% food.comments.forEach(comment=> { %>
            <li>
                <%= comment.text %>
                <% if (user._id.toString() === comment.user.toString()) { %>
                    <button class="edit-button"><a href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit">Edit</a></button>
                    <form action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit" id="delete-btn">Delete</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    </section> 
    <% } %>
</div>
    
        <%- include('../partials/footer.ejs')%>
    
    

                

    




