<%- include('../partials/header.ejs') %>

<div id="background">

<p class="vegan-alt">Vegan Alternative For <%= food.alternativeFor %></p>

<div class="show-wrapper">
    <form action="/foods/<%= food._id %>/comments" method="POST">
        <textarea id="comment" placeholder="Leave a Comment" name="text"></textarea>
        <button type="submit" id="comment-btn">Add Comment</button>
    </form>
    <img class="default-img" src="<%= food.foodImage ? food.foodImage : '/imgs/default-food.jpeg' %>"
    
    <% if (food.comments.length === 0) { %>
        <p>No Comments</p>
    <% } else { %>
        <section class="comments">
            <% food.comments.forEach(comment=> { %>
                <article>
                    <p><%- comment.text.replaceAll('\n', '<br>') %></p>
                    <% if (user._id.toString() === comment.user.toString()) { %>
                        <div>
                                <button class="edit-button"><a href="/foods/<%= food._id %>/comments/<%= comment._id %>/edit">Edit</a></button>
                            <form id="delete-comment-form" action="/foods/<%= food._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </article>
            <% }) %>
        </section> 
        <% } %>
    </div>
</div>
        
<%- include('../partials/footer.ejs')%>

    
    

                

    




